{% extends 'customerBase.html' %}
{% block title %}
    <li class="layui-this">修改查询的客户信息</li>
{% endblock title %}


{% block conditionSearch %}
    <div class="layui-tab-item  layui-show">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>修改客户信息</legend>
        </fieldset>
        <div style="padding: 15px;">
            <form class="layui-form layui-form-pane" action="/customer/search/condition/" method="post">
                {% csrf_token %}
                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:130px;">条件搜索</label>
                    <div class="layui-input-inline">
                        <select name="searchType" lay-filter="searchType" id="searchType">
                            <option value="M1" selected="">按身份证搜索</option>
                            <option value="M2">按姓名搜索</option>
                            <option value="M3">按储蓄账户号搜索</option>
                            <option value="M4">按支票账户号搜索</option>
                            <option value="M5">按贷款账户号搜索</option>
                            <option value="M6">按支行搜索</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label style="width:130px;" class="layui-form-label" id="customerIDLabel">客户身份证号</label>
                    <div class="layui-input-inline">
                        <input type="text" name="customerID" lay-verify="identity" autocomplete="off"
                               class="layui-input" value="360730200001015400" id="customerID">
                    </div>
                    <label style="width:130px;display: none" class="layui-form-label"
                           id="customerNameLabel">客户姓名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="customerName" lay-verify="name" autocomplete="off"
                               class="layui-input" value="客户" id="customerName" style="display: none">
                    </div>
                    <label style="width:130px;display: none" class="layui-form-label"
                           id="accountIDLabel">账户号</label>
                    <div class="layui-input-inline">
                        <input name="accountID" lay-verify="account" autocomplete="off"
                               class="layui-input" value="0001" id="accountID" style="display: none">
                    </div>
                    <label style="width:130px;display: none" class="layui-form-label"
                           id="bankNameLabel">银行名</label>
                    <div class="layui-input-inline">
                        <input type="text" name="bankName" lay-verify="required|chinese" autocomplete="off"
                               class="layui-input" value="北京支行" id="bankName" style="display: none">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即提交
                        </button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </form>
        </div>

        {% if code == '200' %}

            {% for i in data %}
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                    <legend>修改查询结果{{ forloop.counter }}</legend>
                </fieldset>
                <div style="padding: 15px;">
                    <form class="layui-form layui-form-pane" action="/customer/modify/" method="post">
                        {% csrf_token %}
                        <div class="layui-form-item">
                            <label style="width:130px;" class="layui-form-label">客户身份证号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="customerID" lay-verify="identity" placeholder="请输入客户ID"
                                       autocomplete="off"
                                       class="layui-input" value={{ i.customerid }} readonly="" style="background: #f2f2f2">
                            </div>
                            <div class="layui-form-mid layui-word-aux">客户身份证号不可编辑</div>

                        </div>
                        <div class="layui-form-item">
                            <label style="width:130px;" class="layui-form-label">客户姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="customerName" lay-verify="name" placeholder="请输入客户姓名"
                                       autocomplete="off"
                                       class="layui-input" value={{ i.customername }}>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label style="width:130px;" class="layui-form-label">客户地址</label>
                            <div class="layui-input-inline">
                                <input type="text" name="address" lay-verify="required|address" placeholder="请输入客户地址"
                                       autocomplete="off"
                                       class="layui-input" value={{ i.address }}>
                            </div>
                            <label style="width:130px;" class="layui-form-label">客户手机号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="phone" lay-verify="phone" placeholder="请输入客户手机号"
                                       autocomplete="off"
                                       class="layui-input" value={{ i.phone }}>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label style="width:130px;" class="layui-form-label">负责人身份证号</label>
                            <div class="layui-input-inline">
                                <input name="staffID" lay-verify="identity" placeholder="请输入负责人身份证号" autocomplete="off"
                                       class="layui-input" style="width: 520px;" value={{ i.staffid }}>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label style="width:130px;" class="layui-form-label">联系人姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="linkmanName" lay-verify="name" placeholder="请输入客户联系人姓名"
                                       autocomplete="off"
                                       class="layui-input" value={{ i.linkmanname }}>
                            </div>
                            <label style="width:130px;" class="layui-form-label">联系人手机号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="linkmanPhone" lay-verify="phone" placeholder="请输入客户联系人手机号"
                                       autocomplete="off"
                                       class="layui-input" value={{ i.linkmanphone }}>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label style="width:130px;" class="layui-form-label">联系人邮箱</label>
                            <div class="layui-input-inline">
                                <input type="text" name="linkmanEmail" lay-verify="email" placeholder="请输入客户联系人邮箱"
                                       autocomplete="off"
                                       class="layui-input" value={{ i.linkmanemail }}>
                            </div>
                            <label style="width:130px;" class="layui-form-label">联系人关系</label>
                            <div class="layui-input-inline">
                                <input type="text" name="linkmanRelationship" lay-verify="required|relationship"
                                       placeholder="请输入客户联系人与客户关系" autocomplete="off"
                                       class="layui-input" value={{ i.linkmanrelationship }}>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label style="width:130px;" class="layui-form-label">创建时间</label>
                            <div class="layui-input-inline">
                                <input name="createTime" lay-verify="date" autocomplete="off"
                                       class="layui-input" style="width: 520px;" value={{ i.createtime|date:"Y-m-d" }}>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">立即修改</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock conditionSearch %}


{% block searchConditionJs %}
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
            var layer = layui.layer;
            form.on('select(searchType)', function (data) {
                if (data.value === 'M1') {
                    disableAll()
                    document.getElementById("customerID").style.display = "inline-block";
                    document.getElementById("customerIDLabel").style.display = "inline-block";
                } else if (data.value === 'M2') {
                    disableAll()
                    document.getElementById("customerName").style.display = "inline-block";
                    document.getElementById("customerNameLabel").style.display = "inline-block";
                } else if (data.value === 'M6') {
                    disableAll()
                    document.getElementById("bankName").style.display = "inline-block";
                    document.getElementById("bankNameLabel").style.display = "inline-block";
                } else {
                    disableAll()
                    document.getElementById("accountID").style.display = "inline-block";
                    document.getElementById("accountIDLabel").style.display = "inline-block";
                }
            });

        })
        ;

        function disableAll() {
            document.getElementById("customerID").style.display = "none";
            document.getElementById("customerID").value = "360730200001015400";
            document.getElementById("customerName").style.display = "none";
            document.getElementById("customerName").value = "客户"
            document.getElementById("customerIDLabel").style.display = "none";
            document.getElementById("customerNameLabel").style.display = "none";
            document.getElementById("accountID").style.display = "none";
            document.getElementById("accountID").value = '0001'
            document.getElementById("accountIDLabel").style.display = "none";
            document.getElementById("bankName").style.display = "none";
            document.getElementById("bankName").value = "北京支行"
            document.getElementById("bankNameLabel").style.display = "none";
        }
    </script>
{% endblock searchConditionJs %}